<div class="inner-banner">
</div>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="#url">Home</a></li>
            <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>Portofolio</li>
        </ul>
    </div>
</section>
<section class="w3l-aboutblock1 py-5" id="bottom">
    <div class="container py-lg-5 py-md-3">
        <div class="row">
            <div class="col-lg-6">
                <h5 class="title-small mb-3">Portofolio</h5>
                <h3 class="title-big">The Coffee Masters</h3>
                <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                    ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Non quae.</p>
                <ul class="rating-star mt-5">
                    <li><span class="fa fa-star"></span></li>
                    <li><span class="fa fa-star"></span></li>
                    <li><span class="fa fa-star"></span></li>
                    <li><span class="fa fa-star"></span></li>
                    <li><span class="fa fa-star-o"></span></li>
                </ul>
                <h3 class="title-small mt-2">"Best cafe in London. Ever!”</h3>
                <p>“Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut diam libero erat. Aenean faucibus nibh et justo cursus.”</p>
                <h3 class="title-star mt-3">- Peter Johnson, Chef</h3>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 ">
                <img src="images/about3.jpg" alt="" class="radius-image img-fluid">
            </div>
        </div>
    </div>
</section>
<section class="w3l-about2 py-5">
    <div class="container py-lg-5">
        <div class="row cwp23-content">
            <div class="col-lg-6">
                <h5 class="title-small mb-3">Who we are</h5>
                <h3 class="title-big">Did you Know? About our restaurant</h3>
                <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. 
                    Semper at tempufddfel. consectetur sit adipisicing elit, et sed do eiusmod tempor, Lorem ipsum 
                    consectetur sit amet adipisicing elit. Non quae, dolor consectetur adipisicing elit, et sed tempor.</p>
                <img src="images/signature.png" class="img-fluid signature" width="300px" alt="my photo">
            </div>
            <div class="col-lg-6 cwp23-text align-self mt-lg-0 mt-5">
                <div class="cwp23-text-cols">
                    <div class="column">
                        <span class="fa fa-globe" aria-hidden="true"></span>
                        <a href="services.html">The best World sorts</a>
                        <p>consectetur adipisicing elit, et sed do eiusmod tempor Lorem ipsum sit amet. </p>
                    </div>
                    <div class="column">
                        <span class="fa fa-coffee" aria-hidden="true"></span>
                        <a href="services.html">Many points of sale</a>
                        <p>consectetur adipisicing elit, et sed do eiusmod tempor Lorem ipsum sit amet. </p>
                    </div>
                    <div class="column">
                        <span class="fa fa-delicious" aria-hidden="true"></span>
                        <a href="services.html">Professional baristas</a>
                        <p>consectetur adipisicing elit, et sed do eiusmod tempor Lorem ipsum sit amet. </p>
                    </div>
                    <div class="column">
                        <span class="fa fa-truck" aria-hidden="true"></span>
                        <a href="services.html">24/7 fast delivery</a>
                        <p>consectetur adipisicing elit, et sed do eiusmod tempor Lorem ipsum sit amet. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-aboutblock3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 align-self">
                    <h5 class="title-small mb-3">Become our Dealer</h5>
                    <h3 class="title-big">More than <span>4500+</span> <br>customers trust us</h3>
                    <p class="mt-4">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, dolor
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Non quae, fugiat consequatur voluptatem nihil ad. Lorem ipsum dolor sit amet</p>
                        <a href="#" class="btn btn-style btn-primary mt-lg-5 mt-4 mr-2">Become a Dealer</a>
                        <a href="/contact" class="btn btn-style border-btn mt-lg-5 mt-4">Contact Us</a>
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 ">
                    <img src="images/about.png" alt="" class="radius-image img-fluid">
                </div>
            </div>
        </div>
</section>
<section class="w3l-testimonials py-5" id="testimonials">
    <!-- main-slider -->
    <div class="container py-lg-5 py-md-4 mb-md-0 mb-md-5 mb-4">
        <div class="heading text-center mx-auto">
            <h5 class="title-small text-center mb-2">Great words about Coffee</h5>
            <h3 class="title-big text-center mb-5">What do People say About us </h3>
        </div>
        <div class="owl-testimonial owl-carousel owl-theme">
            {{> components/portofolio/testimony image="images/t1.jpg" name="- Johnson" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur dolor sit amet."}}
            {{> components/portofolio/testimony image="images/t2.jpg" name="- Alexander" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium
                            officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur."}}
            {{> components/portofolio/testimony image="images/t3.jpg" name="- Smith roy" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium
                            officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur."}}
            {{> components/portofolio/testimony image="images/t4.jpg" name="- Elizabeth" description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
                            accusantium
                            officia quod quasi necessitatibus perspiciatis Harum error provident
                            quibusdam tenetur."}}
        </div>
    </div>
    <!-- /main-slider -->
</section>
<!-- team -->
<section class="w3l-team py-5" id="team">
    <div class="container py-lg-4 py-sm-3">
        <h5 class="title-small text-center mb-2">Meet our team</h5>
        <h3 class="title-big text-center mb-5">Behind the Taste </h3>
        <div class="row text-center">
            {{> components/portofolio/team image="images/t1.jpg" name="John Doe" job="Barista"}}
            {{> components/portofolio/team image="images/t2.jpg" name="Alexander" job="Waiter"}}
            {{> components/portofolio/team image="images/t3.jpg" name="Martin ker" job="Administrator"}}
            {{> components/portofolio/team image="images/t4.jpg" name="Elizabeth" job="Manager"}}
        </div>
    </div>
</section>
<!-- team -->