<div class="contact-left">
    <div class="grid">
        <span class="fa fa-map-marker"></span>
        <div class="location-info">
            <span>Address</span>
            <p> 2005 Stokes Isle Apt. 896, dolor sit </p>
            <p>sed at ipsum,  Coffee Cafe Center,</p>
            <p>Vacaville 10010, USA.</p>
        </div>
    </div>
    <div class="grid">
        <span class="fa fa-envelope-o"></span>
        <div class="email-info">
            <span>Have any Questions?</span>
            <a href="mailto:mail@examplemail.com"> mail@examplemail.com</a>
        </div>
    </div>
    <div class="grid">
        <span class="fa fa-phone"></span>
        <div class="email-info">
            <span>Phone Number</span>
            <a href="tel:(123) 456-78-90"> (123) 456-78-90</a><br>
            <a href="tel:(123) 456-78-90"> (+12) 255 456-78-90</a>
        </div>
    </div>
</div>