<div class="team-info col-md-3 col-6">
    <div class="column position-relative">
        <a href="#url"><img src="{{image}}" alt="" class="img-fluid radius-image" /></a>
    </div>
    <h4><a href="#team">{{name}}</a></h4>
    <h6>{{job}}</h6>
    <div class="team-info">
        <div class="caption">
            <div class="social-icons-section text-center">
                <a class="fac" href="#url">
                    <span class="fa fa-facebook-official"></span>
                </a>
                <a class="twitter" href="#url">
                    <span class="fa fa-twitter"></span>
                </a>
                <a class="instagram" href="#url">
                    <span class="fa fa-instagram"></span>
                </a>
            </div>
        </div>
    </div>
</div>