<div class="item">
    <div class="slider-info">
        <div class="img-circle">
            <img src="{{image}}" class="img-fluid rounded" alt="client image">
        </div>
        <div class="message-info">
            <span class="fa fa-quote-left mr-2"></span>
            <div class="message">{{description}}</div>
            <div class="name">{{name}}</div>
        </div>
    </div>
</div>